p {
  margin: 0px; }

.hide {
  display: none; }

.error {
  display: block; }

.loader-screen {
  display: table;
  position: absolute;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  visibility: hidden; }

.loader-screen__indicator-container {
  vertical-align: middle;
  margin: auto auto;
  display: table-cell; }

.ajax-loader-indicator {
  margin: 10px; }

*[data-role=page] {
  display: none; }

*[data-role=page].active {
  display: block; }

a.underline {
  text-decoration: underline; }

.menu-container {
  text-align: center; }

.menu-container__menu {
  display: inline-block;
  width: 70%; }

.menu__menu-name {
  font-size: 20px;
  margin-bottom: 5px; }

.menu__button {
  width: 300px;
  margin-bottom: 10px; }

.logo-container {
  text-align: center; }

.logo-container__logo {
  width: 700px;
  height: 200px;
  display: none; }

.menu-name {
  font-size: 20px;
  margin-bottom: 13px; }

.menu-button-container {
  display: block; }

.menu-container {
  margin-top: 50px; }

.form-group__button-container {
  margin-top: 30px; }

.nav-menu-container {
  text-align: center; }

.nav-menu__button-container {
  display: inline-block; }

.nav-menu__button {
  padding: 10px; }

.game-area-container {
  height: 600px;
  background-color: #69b5b4; }

.console__chat {
  float: left;
  display: inline-block;
  width: 80%; }

.chat__content {
  float: left;
  width: 100%;
  height: 100px;
  overflow-y: auto;
  word-wrap: break-word;
  border: solid grey 1px; }

.chat__input-container {
  display: inline-block; }

.console__players-in-room-list {
  border: solid grey 1px;
  display: inline-block;
  width: 19.999%;
  height: 100px; }

.menu-header {
  text-align: center;
  font-size: 18px;
  padding: 10px;
  border: solid black 1px; }

.menu__form {
  text-align: center; }

.menu-form__fields-container {
  margin-left: -100px; }

.signup-form__form-group {
  text-align: center; }

.menu-form__field-name {
  width: 200px;
  text-align: right; }

.menu-form__field {
  display: inline-block;
  width: 300px; }

.best-players-list {
  display: inline-block;
  text-align: left;
  width: auto; }

.chat-message {
  padding-left: 10px; }

.chat-message__author-name {
  margin-right: 4px; }

.chat-message__message {
  margin-left: 10px; }

.chat-message__message-time {
  color: #0b97c4; }

.chat-message:nth-child(odd) {
  background-color: #ffffff; }

.chat-message:nth-child(even) {
  background-color: #e4e4e4; }

.chat-message__private {
  color: red; }

.user-list__common-user {
  color: #000000; }

.card-container {
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .card-container:hover {
    z-index: 1; }

.card-container__card {
  background-image: url("../images/card_background.jpg");
  border-radius: 6px;
  display: inline-block;
  margin-left: 2px;
  padding: 20px 10px 13px 10px;
  width: 230px;
  box-shadow: black 0px 3px 42px -2px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.card__header {
  background-image: url("../images/card_title.jpg");
  border: solid black 1px;
  border-radius: 10px;
  display: block;
  text-align: center; }

.card__image {
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 142px;
  margin: auto;
  width: 94%; }
  .card__image__knight {
    background-image: url("../images/knight.jpg"); }

.card__effect {
  background-image: url("../images/card_title.jpg");
  border: solid black 1px;
  border-radius: 10px;
  display: block;
  text-align: center; }

.card__description {
  background-image: url("../images/card_description_background.jpg");
  display: block;
  height: 160px;
  margin: 3px auto;
  width: 94%; }

.battlefield-container__field {
  display: inline-block;
  width: 33%;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 2px;
  float: left; }

.middle-field.underlight {
  background-color: #3c763d; }

/*# sourceMappingURL=main.css.map */
