.card-container {
  display: inline-block;
  vertical-align: top;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .card-container:hover {
    z-index: 1; }

.card-container__card {
  border-radius: 6px;
  font-size: 15px;
  display: inline-block;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-align: center; }
  .card-container__card:hover .card__card-info-container {
    visibility: visible; }

.card__card-info-container {
  visibility: hidden;
  display: block;
  height: 50px; }

.card__header {
  background-image: url("../images/card_title.jpg");
  border: solid black 1px;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  padding: 5px 20px; }

.card__image {
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 172px;
  margin: auto;
  margin-left: 10px;
  width: 160px;
  border-radius: 15px; }
  .card__image__knight {
    background-image: url("../images/knight.jpg"); }
  .card__image__lady {
    background-image: url("../images/princess.jpg"); }
  .card__image__dragon {
    background-image: url("../images/dragon.jpg"); }
  .card__image:hover {
    box-shadow: 0px 0px 43px -1px yellow; }

.card__image__closed {
  background-image: url("../images/closed.jpg"); }
  .card__image__closed:hover {
    box-shadow: none; }

.card__effect {
  background-image: url("../images/card_title.jpg");
  border: solid black 1px;
  border-radius: 10px;
  display: block;
  text-align: center; }

.card__description {
  background-image: url("../images/card_description_background.jpg");
  display: block;
  height: 160px;
  margin: 3px auto;
  width: 94%; }

.temp-container {
  display: inline-block; }

.console__chat {
  display: inline-block;
  width: 80%; }

.chat__content {
  width: 100%;
  height: 100px;
  overflow-y: auto;
  word-wrap: break-word;
  border: solid grey 1px; }

.chat-message {
  padding-left: 10px; }

.author-name {
  margin-right: 4px; }

.chat-message__message {
  margin-left: 10px; }

.chat-message__message-time {
  color: #0b97c4; }

.chat-message:nth-child(odd) {
  background-color: #ffffff; }

.chat-message:nth-child(even) {
  background-color: #e4e4e4; }

.chat-message__private {
  color: red; }

.chat__send-button {
  width: 10%; }

.message-to {
  cursor: pointer;
  background-color: #396966;
  color: white;
  border-radius: 5px;
  padding: 2px;
  margin-right: 5px; }

.message-to__close-button {
  border-radius: 50%;
  background-color: #636965;
  font-weight: 700;
  margin: 3px; }
  .message-to__close-button:hover {
    color: red; }

.input-container__input-field {
  border: none;
  margin-left: 10px; }
  .input-container__input-field:focus, .input-container__input-field:active {
    outline: none; }

.game-area-container {
  height: 600px;
  background-color: rgba(100, 100, 100, 0.5); }

.game-container {
  background-image: url(../images/battle_background_2.png); }

.game-console {
  background-color: white; }

.battlefield-container {
  height: auto;
  display: block; }

.battlefield-container__field {
  display: inline-block;
  width: 33.1%;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 2px;
  float: left;
  font-size: 0px; }

.middle-field.underlight {
  background-color: #3c763d; }

.middle-field.underlight.on-card-over {
  background-color: #426943; }

.player-field {
  overflow-y: scroll; }

.best-players-list {
  display: inline-block;
  text-align: left;
  width: auto; }

.user-list__common-user {
  color: #000000; }

.console__players-in-room-list {
  border: solid grey 1px;
  display: inline-block;
  width: 19.999%;
  height: 100px;
  vertical-align: top; }

p {
  margin: 0px; }

.hide {
  display: none; }

.error {
  display: block; }

.loader-screen {
  display: table;
  position: absolute;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0px; }

.app {
  position: relative; }

.loader-screen__indicator-container {
  vertical-align: middle;
  margin: auto auto;
  display: table-cell; }

.bgndVideo {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: none !important; }

.background-video-overlayer {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px; }

.ajax-loader-indicator {
  margin: 10px; }

*[data-role=page] {
  display: none; }

*[data-role=page].active {
  display: block; }

a.underline {
  text-decoration: underline; }

.menu-container {
  text-align: center; }

.menu-container__menu {
  display: inline-block;
  width: 50%;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.5); }

.menu__menu-name {
  font-size: 20px;
  margin-bottom: 5px; }

.menu__button {
  width: 300px;
  margin-bottom: 10px; }

.menu-name {
  font-size: 20px;
  margin-bottom: 13px; }

.menu-button-container {
  display: block; }

.menu-container {
  margin-top: 50px; }

.form-group__button-container {
  margin-top: 30px; }

.nav-menu-container {
  text-align: center; }

.nav-menu__button-container {
  display: inline-block; }

.nav-menu__button {
  padding: 10px; }

.input-container {
  display: inline-block;
  width: 90%;
  border: solid #000000 1px; }

.menu-header {
  text-align: center;
  font-size: 18px;
  padding: 10px;
  border: solid black 1px; }

.menu__form {
  text-align: center; }

.menu-form__fields-container {
  margin-left: -100px; }

.signup-form__form-group {
  text-align: center; }

.menu-form__field-name {
  width: 200px;
  text-align: right; }

.menu-form__field {
  display: inline-block;
  width: 300px; }

/*# sourceMappingURL=main.css.map */
