.invisible {
  visibility: hidden !important; }

.softAnimate {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.inDragPosition {
  margin-top: -50px;
  z-index: 999; }

.card-container {
  display: inline-block;
  vertical-align: top;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.card-container_in-deck {
  width: 24%;
  height: 70%; }

.card-container_in-deck:not(:first-child) {
  margin-left: -19%; }

.card-container_highlight:hover {
  margin-top: -50px; }

.card-container__card {
  border-radius: 6px;
  font-size: 15px;
  display: inline-block;
  text-align: center;
  height: 100%;
  width: 100%;
  position: relative; }

.card-info-container {
  font-size: 15px;
  text-align: center;
  display: inline-block;
  width: 30%;
  height: 50%;
  padding: 1%;
  z-index: 990;
  background-image: url("../images/card-info-border.jpg");
  border: solid #000000 4px;
  border-radius: 0px 12px 12px 12px;
  margin-bottom: 50px; }

.card-info-container__content {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #22150D;
  border: solid #000000 4px;
  border-radius: 12px; }

.card-info-container__attack {
  color: red; }

.card-info-container__effect {
  word-break: break-all; }

.card__header {
  background-image: url("../images/card_title.jpg");
  border: solid black 1px;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  padding: 2px 13px; }

.card__image {
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 81%;
  width: 100%;
  border-radius: 15px; }
  .card__image_knight {
    background-image: url("../images/knight.jpg"); }
  .card__image_lady {
    background-image: url("../images/princess.jpg"); }
  .card__image_dragon {
    background-image: url("../images/dragon.jpg"); }
  .card__image:hover {
    box-shadow: 0px 0px 43px -1px yellow; }

.card__image_closed {
  background-image: url("../images/closed.jpg");
  border: solid black 3px; }

.card__effect {
  background-image: url("../images/card_title.jpg");
  border: solid black 1px;
  border-radius: 10px;
  display: block;
  text-align: center; }

.card__description {
  background-image: url("../images/card_description_background.jpg");
  display: block;
  height: 160px;
  margin: 3px auto;
  width: 94%; }

.temp-container {
  display: inline-block;
  width: 24%;
  height: 70%;
  vertical-align: top; }

.chat {
  height: 100%;
  background-image: url("../images/chat_background.gif"); }

.chat__content-container {
  display: inline-block;
  width: 80%;
  height: 80%;
  word-wrap: break-word; }

.content-container__content {
  display: inline-block;
  width: 98%;
  height: 100%;
  overflow-y: scroll; }

.chat-message {
  padding-left: 10px; }

.author-name {
  margin-right: 4px; }

.chat-message__message {
  margin-left: 10px; }

.chat-message__message-time {
  color: #0b97c4; }

.chat-message:nth-child(odd) {
  background-color: #ffffff; }

.chat-message:nth-child(even) {
  background-color: #e4e4e4; }

.chat-message__private {
  color: red; }

.chat__send-button {
  width: 10%;
  height: 18%;
  vertical-align: top;
  background-image: url("../images/button_wood.png");
  outline: none;
  border: none;
  box-shadow: 0px 2px 0px 0px #714305;
  margin-top: -2px; }
  .chat__send-button:active {
    box-shadow: none;
    position: relative;
    top: 2px; }

.input-container {
  display: inline-block;
  width: 70%;
  background-color: #FFFFFF; }

.input-container__message-to {
  cursor: pointer;
  background-color: #941D1D;
  color: white;
  border-radius: 5px;
  padding: 2px;
  margin-right: 5px; }

.message-to__close-button {
  border-radius: 50%;
  background-color: #64593B;
  font-weight: 500;
  margin: 3px;
  display: inline-block;
  width: 16px;
  text-align: center;
  height: 16px;
  line-height: 16px;
  font-size: 15px; }
  .message-to__close-button:hover {
    color: #ff0002; }

.input-container__input-field {
  border: none;
  margin-left: 10px;
  background-color: transparent; }
  .input-container__input-field:focus, .input-container__input-field:active {
    outline: none; }

.chat__players-in-room-list {
  border: solid grey 1px;
  display: inline-block;
  width: 19.999%;
  height: 80%;
  vertical-align: top; }

.border-top_chat, .border-bottom_chat {
  height: 10px; }

.border-left_chat, .border-right_chat {
  width: 0.9%; }

.border-left_chat {
  background-image: url("../images/chat_content_border_left.gif"); }

.border-right_chat {
  background-image: url("../images/chat_content_border_right.gif"); }

.input-container_chat {
  height: 20%; }

.input-container__input-field_chat {
  height: 100%;
  color: black;
  width: 50%;
  overflow-x: scroll; }

.game-area-container {
  height: 65%;
  background-color: rgba(100, 100, 100, 0.5); }

.game-container {
  background-image: url(../images/battle_background_2.png); }

.game__console {
  background-color: white;
  height: 30%; }

.game-button {
  text-align: center;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
  user-select: none;
  padding: 0.5em 10px;
  border: 1px solid #502000;
  border-radius: 5px;
  outline: none;
  background: #935024 linear-gradient(#6a3a1a, #935024 80%);
  box-shadow: 0 6px #562606, 0 3px 15px rgba(0, 0, 0, 0.4), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 3px rgba(255, 255, 255, 0.5);
  transition: .2s; }
  .game-button:hover {
    background: #a75b29 linear-gradient(#7e451f, #a75b29 80%); }
  .game-button:active {
    background: #783f19 linear-gradient(#783f19 20%, #a75b29);
    box-shadow: 0 2px #562606, 0 1px 6px rgba(0, 0, 0, 0.4), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 3px rgba(255, 255, 255, 0.5);
    -webkit-transform: translate(0, 4px);
    transform: translate(0, 4px); }

.game-button__text {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.battlefield-container {
  height: 100%;
  display: block; }

.battlefield-container__field {
  display: inline-block;
  width: 33%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 2px;
  float: left;
  font-size: 0px; }

.middle-field.underlight {
  background-color: #3c763d; }

.middle-field.underlight.on-card-over {
  background-color: #426943; }

.player-field, .opponent-field {
  overflow: visible; }

.step-place {
  display: inline-block;
  height: 50%;
  width: 100%;
  text-align: center;
  margin-top: 7%; }

.health-points {
  display: inline-block;
  vertical-align: top;
  font-size: 40px;
  color: red; }

.best-players-list {
  display: inline-block;
  text-align: left;
  width: auto; }

.user-list__common-user {
  color: #000000; }

.loader-screen {
  display: table;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0px;
  background: url("../images/loader_background.jpg") center;
  -webkit-filter: blur(0px);
  z-index: 10; }

.loader-screen__indicator-container {
  vertical-align: middle;
  margin: auto auto;
  display: table-cell; }

.preloader {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: -webkit-radial-gradient(transparent 50%, rgba(0, 0, 0, 0.8));
  z-index: 10; }

.preloader > .preloader-box {
  position: absolute;
  width: 345px;
  height: 30px;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 -150px;
  -webkit-perspective: 200px; }

.preloader .preloader-box > div {
  position: relative;
  width: 30px;
  height: 30px;
  background: #CCC;
  float: left;
  text-align: center;
  line-height: 30px;
  font-family: Verdana;
  font-size: 20px;
  color: #FFF; }

.preloader .preloader-box > div:nth-child(1) {
  background: #3366FF;
  margin-right: 15px;
  -webkit-animation: movement 600ms ease 0ms infinite alternate; }

.preloader .preloader-box > div:nth-child(2) {
  background: #3366FF;
  margin-right: 15px;
  -webkit-animation: movement 600ms ease 75ms infinite alternate; }

.preloader .preloader-box > div:nth-child(3) {
  background: #3366FF;
  margin-right: 15px;
  -webkit-animation: movement 600ms ease 150ms infinite alternate; }

.preloader .preloader-box > div:nth-child(4) {
  background: #3366FF;
  margin-right: 15px;
  -webkit-animation: movement 600ms ease 225ms infinite alternate; }

.preloader .preloader-box > div:nth-child(5) {
  background: #3366FF;
  margin-right: 15px;
  -webkit-animation: movement 600ms ease 300ms infinite alternate; }

.preloader .preloader-box > div:nth-child(6) {
  background: #3366FF;
  margin-right: 15px;
  -webkit-animation: movement 600ms ease 375ms infinite alternate; }

.preloader .preloader-box > div:nth-child(7) {
  background: #3366FF;
  margin-right: 15px;
  -webkit-animation: movement 600ms ease 450ms infinite alternate; }

.preloader .preloader-box > div:nth-child(8) {
  background: #3366FF;
  -webkit-animation: movement 600ms ease 525ms infinite alternate; }

@-webkit-keyframes movement {
  from {
    -webkit-transform: scale(1) translateY(0px) rotateX(0deg);
    box-shadow: 0 0 0 transparent; }
  to {
    -webkit-transform: scale(1.5) translateY(-25px) rotateX(45deg);
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.4);
    background: #3399FF; } }
.abort-button-container {
  margin-top: 121px;
  z-index: 12; }

html, body, .app, .main-container {
  height: 100%; }

body {
  overflow-y: hidden; }

p {
  margin: 0px; }

.hide {
  display: none; }

.error {
  display: block; }

.app {
  position: relative; }

.bgndVideo {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: none !important; }

.background-video-overlayer {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px; }

.ajax-loader-indicator {
  margin: 10px; }

*[data-role=page] {
  display: none; }

*[data-role=page].active {
  display: block;
  height: 100%; }

a.underline {
  text-decoration: underline; }

.form-group__button-container {
  margin-top: 30px; }

.border-top, .border-bottom {
  display: block;
  width: 100%; }
.border-left, .border-right {
  display: inline-block;
  height: 100%; }
  .border-left + *, * + .border-left, .border-right + *, * + .border-right {
    vertical-align: top; }

.game-deck {
  display: block;
  width: 100%;
  height: 50%;
  text-align: center; }

.player-face-container {
  width: 100%;
  height: 50%; }

.nav-menu-container {
  text-align: center;
  height: 5%; }

.nav-menu__button-container {
  display: inline-block; }

.nav-menu__button {
  height: 100%; }

.alert {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, 0.5);
  text-align: center;
  visibility: hidden; }

.alert__alert-box {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.softAnimate {
  transition: 0.5s; }

.alert-box_on-top {
  top: -50%; }

.alert-box__text {
  font-size: 40px; }
  .alert-box__text_winner {
    color: #3fb21d; }
  .alert-box__text_looser {
    color: #b20c07; }

.health {
  display: inline-block;
  vertical-align: top;
  width: 69%; }

.health__health-number {
  display: inline-block;
  font-size: 25px;
  color: red; }

.health__health-line-indicator {
  height: 15px;
  width: 100%;
  transition: 0.7s;
  background-color: red;
  background-image: -webkit-linear-gradient(#590000, #be0000 50%, #be0000 51%, #590000); }

.menu-container {
  text-align: center;
  height: 100%; }

.menu-container__menu {
  display: inline-block;
  width: 50%;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  top: 50%;
  transform: translateY(-70%); }

.menu__menu-name {
  font-size: 20px;
  margin-bottom: 5px; }

.menu__button {
  width: 300px;
  margin-bottom: 10px; }

.menu-name {
  font-size: 20px;
  margin-bottom: 13px; }

.menu-button-container {
  display: block; }

.menu-header {
  text-align: center;
  font-size: 18px;
  padding: 10px;
  border: solid black 1px; }

.menu__form {
  text-align: center; }

.signup-form__form-group {
  text-align: center; }

.menu-form__field-name {
  width: 200px; }

.menu-form__field {
  display: inline-block;
  width: 300px;
  text-align: center; }

/*# sourceMappingURL=main.css.map */
