@media (max-width: 800px) {
  .mobile-hidden {
    display: none; } }
html, body, .app, .main-container {
  height: 100%;
  margin: 0px;
  width: 100%; }

body, html {
  overflow-y: hidden;
  overflow-x: hidden; }

p {
  margin: 0px; }

a {
  text-decoration: none; }

.hide {
  display: none; }

.error {
  display: block;
  color: #ff0000; }

.app {
  position: relative; }

.bgndVideo {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: none !important; }

.background-video-overlayer {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px; }

.ajax-loader-indicator {
  margin: 10px; }

*[data-role=page] {
  display: none; }

*[data-role=page].active {
  display: block;
  height: 100%; }

a.underline {
  text-decoration: underline; }

.form-group__button-container {
  margin-top: 30px; }

.border-top, .border-bottom {
  display: block;
  width: 100%; }
.border-left, .border-right {
  display: inline-block;
  height: 100%; }
  .border-left + *, * + .border-left, .border-right + *, * + .border-right {
    vertical-align: top; }

.loader-screen {
  display: table;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0px;
  background: url("../images/loader_background.jpg") center;
  -webkit-filter: blur(0px);
  z-index: 10; }

.loader-screen__indicator-container {
  vertical-align: middle;
  margin: auto auto;
  display: table-cell; }

.preloader {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: -webkit-radial-gradient(transparent 50%, rgba(0, 0, 0, 0.8));
  z-index: 10; }

.preloader > .preloader-box {
  position: absolute;
  width: 345px;
  height: 30px;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 -150px;
  -webkit-perspective: 200px; }

.preloader .preloader-box > div {
  position: relative;
  width: 30px;
  height: 30px;
  background: #CCC;
  float: left;
  text-align: center;
  line-height: 30px;
  font-family: Verdana;
  font-size: 20px;
  color: #FFF; }

.preloader .preloader-box > div:nth-child(1) {
  background: #3366FF;
  margin-right: 15px;
  -webkit-animation: movement 600ms ease 0ms infinite alternate; }

.preloader .preloader-box > div:nth-child(2) {
  background: #3366FF;
  margin-right: 15px;
  -webkit-animation: movement 600ms ease 75ms infinite alternate; }

.preloader .preloader-box > div:nth-child(3) {
  background: #3366FF;
  margin-right: 15px;
  -webkit-animation: movement 600ms ease 150ms infinite alternate; }

.preloader .preloader-box > div:nth-child(4) {
  background: #3366FF;
  margin-right: 15px;
  -webkit-animation: movement 600ms ease 225ms infinite alternate; }

.preloader .preloader-box > div:nth-child(5) {
  background: #3366FF;
  margin-right: 15px;
  -webkit-animation: movement 600ms ease 300ms infinite alternate; }

.preloader .preloader-box > div:nth-child(6) {
  background: #3366FF;
  margin-right: 15px;
  -webkit-animation: movement 600ms ease 375ms infinite alternate; }

.preloader .preloader-box > div:nth-child(7) {
  background: #3366FF;
  margin-right: 15px;
  -webkit-animation: movement 600ms ease 450ms infinite alternate; }

.preloader .preloader-box > div:nth-child(8) {
  background: #3366FF;
  -webkit-animation: movement 600ms ease 525ms infinite alternate; }

@-webkit-keyframes movement {
  from {
    -webkit-transform: scale(1) translateY(0px) rotateX(0deg);
    box-shadow: 0 0 0 transparent; }
  to {
    -webkit-transform: scale(1.5) translateY(-25px) rotateX(45deg);
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.4);
    background: #3399FF; } }
.abort-button-container {
  margin-top: 121px;
  z-index: 12; }

.menu-container {
  text-align: center;
  height: 100%; }

.menu-container__menu {
  display: inline-block;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.menu__button-container {
  margin-bottom: 15px;
  width: 100%; }

.menu__button {
  display: inline-block;
  height: 50px;
  width: 80%;
  outline: none;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  color: white; }
  .menu__button:active {
    position: relative;
    top: 5px;
    box-shadow: 0px 0px 0px 0px; }

.menu__button_ok {
  background-color: #41b26d;
  box-shadow: 0px 5px 0px 0px green; }

.menu__button_cancel {
  background-color: #b23933;
  box-shadow: 0px 5px 0px 0px red; }

.menu-form__field {
  display: inline-block;
  width: 80%;
  text-align: center;
  outline: none;
  height: 30px;
  background-color: #949494;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px; }

.menu-name {
  font-size: 40px;
  margin-bottom: 13px; }

.drop-field-container {
  display: block;
  height: 50%; }

.action-field {
  display: block;
  height: 95%; }

.cards-mobile-controller {
  height: 45%; }

.action-field__cards-container {
  display: inline-block;
  height: 100%;
  width: 70%;
  overflow-x: hidden;
  word-break: normal;
  white-space: nowrap; }

.action-field__left-arrow, .action-field__right-arrow {
  display: inline-block;
  vertical-align: top;
  width: 15%;
  height: 100%;
  background-color: grey;
  transition: 0.2s; }
  .action-field__left-arrow:hover, .action-field__right-arrow:hover {
    background-color: rgba(100, 100, 100, 0.5); }

.arrow__image {
  width: 100%;
  height: 20%;
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.counter-field {
  display: block;
  height: 5%;
  text-align: center; }

.invisible {
  visibility: hidden !important; }

.inDragPosition {
  z-index: 999; }

.card-container {
  display: inline-block;
  vertical-align: top;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 10px;
  position: relative;
  top: 0px;
  left: 0px; }

.card-container_in-deck {
  width: 50%;
  height: 84%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2%; }

.card-container__card {
  border-radius: 6px;
  font-size: 0px;
  display: inline-block;
  text-align: center;
  height: 100%;
  width: 100%;
  position: relative; }

.card__header {
  background-image: url("../images/card_title.jpg");
  border: solid black 1px;
  border-radius: 5px 5px 0px 0px;
  display: inline-block;
  text-align: center;
  padding: 2px 13px;
  width: 100%;
  box-sizing: border-box;
  font-size: 15px; }
  .card__header p {
    overflow: hidden;
    text-overflow: ellipsis; }

.card__image {
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 0px 0px 5px 5px; }
  .card__image_knight {
    background-image: url("../images/knight.jpg"); }
  .card__image_lady {
    background-image: url("../images/princess.jpg"); }
  .card__image_dragon {
    background-image: url("../images/dragon.jpg"); }

.card__image_closed {
  background-image: url("../images/closed.jpg");
  border: solid black 3px; }

.card__effect {
  background-image: url("../images/card_title.jpg");
  border: solid black 1px;
  border-radius: 10px;
  display: block;
  text-align: center; }

.card__description {
  background-image: url("../images/card_description_background.jpg");
  display: block;
  height: 160px;
  margin: 3px auto;
  width: 94%; }

.temp-container {
  display: inline-block;
  width: 50%;
  height: 84%;
  vertical-align: top; }

.alert {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, 0.5);
  text-align: center;
  visibility: hidden; }

.alert__alert-box {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }
  .alert__alert-box .easter_egg {
    float: right;
    color: greenyellow; }
  .alert__alert-box .alert-box__controls {
    clear: both; }

.alert__alert-box_err {
  background-color: red; }

.softAnimate {
  transition: 0.5s; }

.alert-box_on-top {
  top: -50%; }

.alert-box__text {
  font-size: 40px; }
  .alert-box__text_winner {
    color: #3fb21d; }
  .alert-box__text_looser {
    color: #b20c07; }

.drop-field {
  display: inline-block;
  height: 100%;
  width: 100%; }

.drop-field.underlight {
  background-color: #3c763d; }

.drop-field.underlight.on-card-over {
  background-color: #426943; }

.step-place_player {
  display: inline-block;
  height: 50%;
  width: 100%;
  text-align: center;
  margin-top: 7%; }

/*# sourceMappingURL=mobile.css.map */
