$card-anim-speed : 0.3s;
$upperLength : -50px;

.invisible {
  visibility : hidden !important;
}

.softAnimate {
  -webkit-transition: $card-anim-speed;
  -moz-transition: $card-anim-speed;
  -ms-transition: $card-anim-speed;
  -o-transition: $card-anim-speed;
  transition: $card-anim-speed;
}

.inDragPosition {
  margin-top: $upperLength;
  z-index: 999;
}

.card-container {
  display: inline-block;
  vertical-align: top;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 10px;
}

.card-container_in-deck {
  width: 25%;
  height: 100%;
}

.card-container_highlight {
  &:hover {
    margin-top: $upperLength;
  }
}

.card-container__card {
  border-radius: 6px;
  font-size: 15px;
  display: inline-block;
  text-align: center;
  height: 100%;
  width: 100%;
  position: relative;
}

$infoContainerBorderColor : #000000;
$infoContainerBorderSize : 4px;
$infoContainerBorderRadius : 12px;
$infoContainerPointer : 10px;

.card-info-container {
  font-size: 15px;
  text-align: center;
  display: inline-block;
  width: 30%;
  height: 50%;
  padding: 1%;
  z-index : 990;
  background-image: url("../images/card-info-border.jpg");
  border: solid $infoContainerBorderColor $infoContainerBorderSize;
  border-radius : 0px $infoContainerBorderRadius $infoContainerBorderRadius $infoContainerBorderRadius;
  margin-bottom: -$upperLength;
}

.card-info-container__content {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #22150D;
  border: solid $infoContainerBorderColor $infoContainerBorderSize;
  border-radius : $infoContainerBorderRadius;
}

.card-info-container__attack {
  color: red;
}

.card-info-container__name {
  color : white;
}

.card-info-container__effect {
  word-break: break-all;
}

.card__header {
  background-image: url("../images/card_title.jpg");
  border: solid black 1px;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  padding: 2px 13px;
  width: 100%;
  box-sizing: border-box;
  p {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.card__image {
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  &_knight {
    background-image: url("../images/knight.jpg");
  }
  &_lady {
    background-image: url("../images/princess.jpg");
  }
  &_dragon {
    background-image: url("../images/dragon.jpg");
  }
  &:hover {
    box-shadow: 0px 0px 43px -1px yellow;
  }
}

.card__image_closed {
  background-image: url("../images/closed.jpg");
  border: solid black 3px;
}

.card__effect {
  background-image: url("../images/card_title.jpg");
  border: solid black 1px;
  border-radius: 10px;
  display: block;
  text-align: center;
}

.card__description {
  background-image: url("../images/card_description_background.jpg");
  display: block;
  height: 160px;
  margin: 3px auto;
  width: 94%;
}

.temp-container {
  display: inline-block;
  width: 25%;
  height: 100%;
  vertical-align: top;
}