.game-area-container {
  height: 600px;
  background-color: rgba(100, 100, 100, 0.5);
}

.game-container {
  background-image: url(../images/battle_background_2.png);
}

.game-console {
  background-color: white;
}