
.best-players-list {
  display: inline-block;
  text-align: left;
  width: auto;
}

.best-players-list__player {
}

.user-list__common-user {
  color: #000000;
}

.console__players-in-room-list {
  border: solid grey 1px;
  display: inline-block;
  width: 19.999%;
  height: 100px;
  vertical-align: top;
  //background-color: #ffffff;
}