<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Authorization</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
    Login: <input type="text" id="login" name="login"/>
    <input type="submit" id="button" value="Ok">

<p>Last login: </p><div id="name"></div>
<script>
    $('#button').click(function(){
        $.ajax({ // Вообще для таких случаев удобнее использовать метод $.GET переделай на него, просто так....
            url: "/login/name",
            data: {
                login: $('#login').val()
            },
            method: "GET"
        }).done(function(data) {
            console.log(data);

            $("#name").append(data);
        });
    })

</script>

</body>
</html>

