.deck-builder{
  height:100%;
  width:100%;
  .card{
    background-repeat: no-repeat;
    background-position: center center;
    border: 2px solid rgba(107, 107, 119, 0.97);
    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width:120px;
    height:140px;
    background-size:cover;
    background-color:lightblue;
    &.assassin {
      background-image: url("../images/cards/120x140/assassin.jpg");
    }
    &.doomdragon {
      background-image: url("../images/cards/120x140/doom_dragon.jpg");
    }
    &.instabledragon {
      background-image: url("../images/cards/120x140/instable_dragon.jpg");
    }
    &.vanillaknight {
      background-image: url("../images/cards/120x140/vanilla_knight.jpg");
    }
    &.paladin {
      background-image: url("../images/cards/120x140/paladin.jpg");
    }
    &.covardknight {
      background-image: url("../images/cards/120x140/poison_knight.jpg");
    }
    &.priestess {
      background-image: url("../images/cards/120x140/priestess.jpg");
    }
    &.reddragon {
      background-image: url("../images/cards/120x140/red_dragon.jpg");
    }
    &.succubus {
      background-image: url("../images/cards/120x140/succubus.jpg");
    }
    &.assassin_big {
      width:240px;
      height:280px;
      background-image: url("../images/cards/240x280/assassin.jpg");
    }
    &.doomdragon_big {
      width:240px;
      height:280px;
      background-image: url("../images/cards/240x280/doom_dragon.jpg");
    }
    &.instabledragon_big {
      width:240px;
      height:280px;
      background-image: url("../images/cards/240x280/instable_dragon.jpg");
    }
    &.vanillaknight_big {
      width:240px;
      height:280px;
      background-image: url("../images/cards/240x280/vanilla_knight.jpg");
    }
    &.paladin_big {
      width:240px;
      height:280px;
      background-image: url("../images/cards/240x280/paladin.jpg");
    }
    &.covardknight_big {
      width:240px;
      height:280px;
      background-image: url("../images/cards/240x280/poison_knight.jpg");
    }
    &.priestess_big {
      width:240px;
      height:280px;
      background-image: url("../images/cards/240x280/priestess.jpg");
    }
    &.reddragon_big {
      width:240px;
      height:280px;
      background-image: url("../images/cards/240x280/red_dragon.jpg");
    }
    &.succubus_big {
      width:240px;
      height:280px;
      background-image: url("../images/cards/240x280/succubus.jpg");
    }
  }
  .deck{
    width:66%;
    height:100%;
    float:left;
    .line{
      margin: 0 auto;
//      width:265px;
      height:140px;
      clear:both;
      display:table;

    }
    .deck__card{
      &.first{
        float:left;
      }
      &.second{
        float:left;
        margin-left:25px;
        margin-bottom:2px;
      }
      &.third {
        margin: 2px auto;
        clear:both;
      }
      &.four {
        float:left;
      }
      &.five {
        float:left;
        margin-left:25px;
      }
    }

    .deck__type{
      width:32%;
      height:100%;
      border-style: solid;
      border-width: 0px;
      border-right-width: 4px;
      border-color:black;
      float:left;
    }
  }
  .card-list{
    float:left;
    width:33%;
    height:100%;
    .card-list__available-cards{
      .card-list__card{
        .card{
          float:left;
          margin-top:2px;
          margin-left:5px;
        }

      }
    }
  }
}

.card-info-popup {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(26, 26, 26, 0.8);
  width: 100%;
  height: 100%;
  text-align: center;
  visibility: hidden;
  z-index: 999;
}

.card-info-popup__content {
  background-color: rgba(40, 28, 3, 0.95);
  display: inline-block;
  width: 50%;
  margin-top: 10%;
  position: relative;
  border-radius: 15px;
  color: white;
  font-family: fantasy;
//  transform: translateY(-50%);
}

.card-info-popup__card-image {
  display: inline-block;
  width: 100px;
  height: 100px;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
}

.card-info-popup__card-name {
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
}

.card-info-popup__card-attack {
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
}
.card-info-popup__card-type {
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
}

.card-info-popup__card-effects {
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
}

