.deck-builder{
  height:100%;
  width:100%;
  .card{
    background-repeat: no-repeat;
    background-position: center center;
    border: 2px solid rgba(107, 107, 119, 0.97);
    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width:120px;
    height:140px;
    background-size:cover;
    background-color:lightblue;
    &.assassin {
      background-image: url("../images/cards/120x140/assassin.jpg");
    }
    &.doomdragon {
      background-image: url("../images/cards/120x140/doom_dragon.jpg");
    }
    &.instabledragon {
      background-image: url("../images/cards/120x140/instable_dragon.jpg");
    }
    &.vanillaknight {
      background-image: url("../images/cards/120x140/vanilla_knight.jpg");
    }
    &.paladin {
      background-image: url("../images/cards/120x140/paladin.jpg");
    }
    &.covardknight {
      background-image: url("../images/cards/120x140/poison_knight.jpg");
    }
    &.priestess {
      background-image: url("../images/cards/120x140/priestess.jpg");
    }
    &.reddragon {
      background-image: url("../images/cards/120x140/red_dragon.jpg");
    }
    &.succubus {
      background-image: url("../images/cards/120x140/succubus.jpg");
    }
  }
  .deck{
    width:66%;
    height:100%;
    float:left;
    .line{
      margin: 0 auto;
//      width:265px;
      height:140px;
      clear:both;
      display:table;

    }
    .deck__card{
      &.first{
        float:left;
      }
      &.second{
        float:left;
        margin-left:25px;
        margin-bottom:2px;
      }
      &.third {
        margin: 2px auto;
        clear:both;
      }
      &.four {
        float:left;
      }
      &.five {
        float:left;
        margin-left:25px;
      }
    }

    .deck__type{
      width:32%;
      height:100%;
      border-style: solid;
      border-width: 0px;
      border-right-width: 4px;
      border-color:black;
      float:left;
    }
  }
  .card-list{
    float:left;
    width:33%;
    height:100%;
    .card-list__available-cards{
      .card-list__card{
        .card{
          float:left;
          margin-top:2px;
          margin-left:5px;
        }

      }
    }
  }
}
