.health {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

.health__health-number {
  display: inline-block;
  font-size: 25px;
  color: #FFF;
}

.health__health-line-indicator {
  height: 15px;
  width: 100%;
  transition: 0.7s;
  background-color: red;
  background-image: -webkit-linear-gradient(rgb(89, 0, 0), rgb(190, 0, 0) 50%, rgb(190, 0, 0) 51%, rgb(89, 0, 0));
}

.health__player-name {
  display:inline-block;
  font-size: 20px;
  margin-left:10px;
  color:red;
}

.effect {
  display:block;
}

.effect__poison {
  background-image: url(../images/poison_effect.png);
  display:block;
  float:left;
  width:32px;
  height:32px;
}