.health {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

.health__health-number {
  display: inline-block;
  font-size: 25px;
  color: #FFF;
}

.health__health-line-indicator {
  height: 15px;
  width: 100%;
  transition: 0.7s;
  background-color: red;
  background-image: -webkit-linear-gradient(rgb(89, 0, 0), rgb(190, 0, 0) 50%, rgb(190, 0, 0) 51%, rgb(89, 0, 0));
}

.health__player-name {
  display:inline-block;
  font-size: 25px;
  margin-left:10px;
  color: #fffefa;
}

.effect {
  display:block;
  position:relative;
}

.effect__poison {
  background-image: url(../images/effects/poison_effect.png);
  display:block;
  float:left;
  width:32px;
  height:32px;
  &:hover{
    .effect__popup {
      padding: 8px;
      display:block;
      width: 250px;
      position: absolute;
      font-size: 15px;
      font-family: Helvetica;
      background-color: rgba(128, 128, 128, 0.6);
      top: 40px;
      left: 5px;
      border-color: #67ed55;
      border-width: 2px;
      border-radius: 8px;

    }
  }
}

.effect__restoration {
  background-image: url(../images/effects/restoration_effect.jpg);
  display:block;
  float:left;
  width:32px;
  height:32px;
  &:hover{
    .effect__popup {
      padding: 8px;
      display:block;
      width: 250px;
      position: absolute;
      font-size: 15px;
      font-family: Helvetica;
      background-color: rgba(128, 128, 128, 0.6);
      top: 40px;
      left: 5px;
      border-color: #67ed55;
      border-width: 2px;
      border-radius: 8px;
    }
  }
}

.effect__timebomb {
  background-image: url(../images/effects/bomb_effect.jpg);
  display:block;
  float:left;
  width:32px;
  height:32px;
  &:hover{
    .effect__popup {
      padding: 8px;
      display:block;
      width: 250px;
      position: absolute;
      font-size: 15px;
      font-family: Helvetica;
      background-color: rgba(128, 128, 128, 0.6);
      top: 40px;
      left: 5px;
      border-color: #67ed55;
      border-width: 2px;
      border-radius: 8px;
    }
  }
}
.effect__popup {
  display:none;
}
