.best-players-list {
  display: inline-block;
  text-align: left;
  width: auto;
}

.best-players-list__player {
}

.user-list__common-user {
  margin-top: 2px;
  color: #000000;
  list-style: none;
  &:hover {
    background-color: rgba(163, 163, 163, 0.5);
  }
}