p {
  margin: 0px;
}

.hide{
  display:none;
}

.error {
  display: block;
}

.ajax-loader-indicator {
  margin: 10px;
}

*[data-role=page] {
  display: none;
}

*[data-role=page].active {
  display: block;
}

a.underline {
  text-decoration: underline;
}

.menu-container {
  text-align: center;
}

.menu-container__menu {
  display: inline-block;
  width: 70%;
}

.menu__menu-name {
  font-size: 20px;
  margin-bottom: 5px;
}

.menu__button-container {

}

.menu__button {
  width: 300px;
  margin-bottom: 10px;
}


.logo-container {
  text-align: center;
}

.logo-container__logo {
  width: 700px;
  height: 200px;
}


.menu-name {
  font-size: 20px;
  margin-bottom: 13px;
}
.menu-button-container {
  display: block;
}

.menu-container {
  margin-top: 50px;
}

.menu__auth-form {
}

.form-group__button-container {
  margin-top: 30px;
}

.nav-menu-container {
  text-align: center;
}

.nav-menu-container__nav-menu {
}

.nav-menu__button-container {
  display: inline-block;
}

.nav-menu__button {
  padding: 10px;
}

.game-area-container {
  height: 600px;
  background-color: #69b5b4;
}

.console__chat {
  float: left;
  display: inline-block;
  width: 80%;
}

.chat__content {
  float: left;
  width: 100%;
  height: 100px;
  overflow-y: auto;
  word-wrap: break-word;
  border: solid grey 1px;
}

.chat__input-container {
  display: inline-block;
}

.console__players-in-room-list {
  display: inline-block;
  width: 19.999%;
  height: 100px;
  background-color: red;
}

.menu-header {
  text-align: center;
  font-size: 18px;
  padding: 10px;
  border: solid black 1px;
}

.menu__form {
  text-align: center;
}

.menu-form__fields-container {
  margin-left: -100px;
}

.signup-form__form-group {
  text-align: center;
}

.menu-form__field-name {
  width: 200px;
  text-align: right;
}

.menu-form__field {
  display: inline-block;
  width: 300px;
}

.form-group__field-name {

}

.best-players-list {
  display: inline-block;
  text-align: left;
  width: auto;
}

.best-players-list__player {
}

.chat__socket_button {

}

.chat-message {
  padding-left: 10px;
}

.chat-message__author-name {
  margin-right: 4px;

}

.chat-message__message {
  margin-left: 10px;
}

.chat-message__message-time {
  color: #0b97c4;
}

.chat-message:nth-child(odd) {
  background-color: #ffffff;
}

.chat-message:nth-child(even) {
  background-color: #e4e4e4
}

.chat-message__private {
  color: red;
}