#main-page {
  text-align: center;
  a.btn {
    width: 300px;
    margin-bottom: 10px;
  }
}

.menu-name {
  font-size: 20px;
  margin-bottom: 13px;
}

.menu-container {
  margin-top: 20%;
}
#auth-page {
  text-align: center;
}

#auth-form {
  margin-top: 30px;
}

#scoreboard-page {
  text-align: center;
}

#nav-menu-container {
  text-align: center;
}

#nav-menu {
  display: inline-block;
  span {
    display: inline-block;
    padding: 10px;
  }
}

#game-area {
  height: 300px;
  background-color: #cccccc;
}

#chat-container {
  float: left;
  display: inline-block;
  width: 80%;
}

#chat-content {
  float: left;
  width: 100%;
  height: 100px;
  background-color: green;
}

#chat-input-container {
  display: inline-block;
}

#players-in-room-list {
  display: inline-block;
  width: 19.999%;
  height: 100px;
  background-color: red;
}

.menu-header {
  text-align: center;
  font-size: 18px;
  padding: 10px;
  border: solid black 1px;

}